<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="listpokem">
            <input type="text" placeholder="number pokemon" ng-model="filtre">

            <select ng-model="select">
                <option ng-repeat="pokemon in mypokemonlist | filter :filtre">
                    {{pokemon.name}}
                </option>
            </select>

            <button ng-click="selection()"> OK </button>
        </div>
        <hr>

		<!-- Search Pekemon in API by Resources -->
        <div ng-controller="listpokeappi">
            <input type="text" placeholder="number pokemon">
            <select ng-model="select">
                <option ng-repeat="pokemon in resultatresource">
                    {{pokemon.name}}
                </option>
            </select>
        </div>
        <hr>

        <!-- Search Pekemon in API by Http -->
        <div ng-controller="reqhttp">
            <input type="text" placeholder="number pokemon" ng-model="alpha">
            <select ng-options="pokemon as pokemon.name for pokemon in resultat" ng-model="selectionner">
                {{pokemon.name}}
            </select>

            <!-- Pokémon information -->
            <h1>le nom du pokemon est : {{selectionner.name}} <br>
                url : {{selectionner.url}}</h1><br>

            <button ng-click="fselectionner()"> Afficher les attaques</button><br>
            <ul>
                <li ng-repeat=" move in resultatp"> {{move}}</li>
            </ul>

        </div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>