<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>

</head>
<body ng-app="pokedex" style="padding-top: 50px">
<div class="container" >
    <div class="panel panel-primary">
        <div class="panel-heading">POKEDEX</div>
        <div class="panel-body">
            <div class="row">
                <section class="col-lg-6" style="border: #3e8f3e">
                    <!-- Recherche d'un Pokemon Via son numero -->
                    <div ng-controller="pokNum" style="background-color: deepskyblue">
                        <label class="control-label">Recherche d'un Pokemon Via son numero</label>
                        <input type="text" ng-model="id"/>
                        <p></p>
                        <ul class="list-group">
                            <li class="list-group-item">Id: {{id}}</li>
                        </ul>

                    </div>
                </section>
                <section class="col-lg-6">

                    <!-- Recherche dans une liste -->
                    <div ng-controller="listpokem" style="background-color: darkseagreen">
                        <label class="control-label">Recherche dans une liste</label>
                        <input type="text" ng-model="query"/>
                        <!--ng-options="pokemon as pokemon.name for pokemon in pokemons|filter:{name:query}"
                        <p></p>
                        <ul class="list-group">
                            <li class="list-group-item">Id: {{select.id}}</li>
                            <li class="list-group-item">name: {{select.name}}</li>
                        </ul>-->
                        <select  ng-model="select">
                            <option ng-repeat="pokemon in pokemons | filter:{name:query}" value="{{pokemon.name}}">
                                {{pokemon.name}}
                            </option>
                        </select>
                        <button class="btn btn-primary" ng-click="selection()">Go !</button>
                        <ul class="list-group"><li class="list-group-item"> Pokemon Name :  {{select}}</li></ul>

                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-lg-6">

                    <!-- Acces à une API distante-->

                    <div ng-controller="PokemonByRessource" style="background-color: greenyellow">
                        <label class="control-label">Acces à une API distante</label> <input type="text" ng-model="quey">
                        <select ng-options="pokemon as pokemon.name for pokemon in pokApi |filter:{name:quey}" ng-model="select"></select>
                        <p></p>
                        <ul class="list-group">
                            <li class="list-group-item">Id: {{pok.data.id}}</li>
                            <li class="list-group-item">name: {{pok.data.name}}</li>
                            <li class="list-group-item">Height: {{pok.data.height}}</li>
                            <li class="list-group-item">Weight: {{pok.data.weight}}</li>
                            <li class="list-group-item">Nombre d'attaques : {{pok.data.moves.length}}</li>
                            <li class="list-group-item">Image: <img src="{{pok.data.sprites.back_default}}"/></li>
                        </ul>
                    </div>
                </section>

                <section class="col-lg-6">

                    <div ng-controller="PokemonSet" style="background-color: skyblue">
                        <label class="control-label">Communication entre controlleurs</label> <input type="text" ng-model="quey">
                        <select ng-options="pokemon as pokemon.name for pokemon in poks |filter:{name:quey}" ng-model="selected"> </select>
                    </div>
                    <p></p>
                    <div ng-controller="PokemonGet">
                        <ul class="list-group">
                            <li class="list-group-item">Id: {{InfoPok.data.id}}</li>
                            <li class="list-group-item">name: {{InfoPok.data.name}}</li>
                            <li class="list-group-item">Height: {{InfoPok.data.height}}</li>
                            <li class="list-group-item">Weight: {{InfoPok.data.weight}}</li>
                            <li class="list-group-item">Nombre d'attaques : {{InfoPok.data.moves.length}}</li>
                            <li class="list-group-item">Image: <img src="{{InfoPok.data.sprites.back_default}}"/></li>
                            <li class="list-group-item">Attaques :  {{lesmoves[0].move}}</li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>
    </div>

</div>

</body>

<!-- Dependencies -->
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>

<!-- Pokedex app -->
<script src="js/pokedex.js"></script>

</body>
</html>